/* Google fonts imports */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&display=swap");

/* Reset default styles added by browser */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* General styles */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* Generic project styles */
  color: #3a3a3a;
  font-family: 'Lato', sans-serif;
}

h1, h2, h4 {
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    text-transform: none;
    letter-spacing: 2px;
    color: #000000;
}

/* Header */
header {
  background-color: #ffffff;
  padding: 0 1rem;
  position: fixed;
  z-index: 99;
  width: 100%;
  box-shadow: 0 2px 2px #000000;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu > li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #000000;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #000000;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* Main content */
main {
  flex: 1 0 auto; /* Make main section take up any surplus space to push footer down */
  margin-top: 47px;
}

/* Hero section */
#hero {
    height: 100vh;
    width: 100%;
    background: url("../images/hero-image.jpg") no-repeat center center/cover;
}

#cover-text {
    background: rgba(0, 0, 0, 0.15);
    font-size: 130%;
    width: 100%;
    position: fixed;
    top: 40vh;
}

#cover-text > h2 , #cover-text >h4 {
    text-align: center;
    color: #ffffff;
}

#cover-text > h4 {
    display: none;
}
/* Footer */
#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 200%;
    padding: 5%;
    color: #000000;
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
    /* Header */
    #logo {
        font-size: 3rem;
        letter-spacing: 15px;
        padding-left: 1rem;
    }

    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        justify-content: baseline;
    }

    #menu {
        display: flex;
    }

    #menu > li {
        padding: 0 2rem;
    }

    #menu a {
        font-size: 12px;
    }

    .nav-toggle-label {
        display: none;
    }

/* Main content */
    main {
        min-height: 100vh;
    }

    #cover-text {
        background: rgba(0, 0, 0, 0.68);
        width: 35%;
        left: 50px;
        position: fixed;
        font-size: 2px;
        top: 10vh;
    }

    #cover-text > h4 {
        display: block;
    }

    #cover-text > h2, #cover-text > h4 {
        padding: 0.7rem 0;
    }
}

/* Media query: small laptops and larger (992px and up) */
@media screen and (min-width: 992px){

    .active {
        border-bottom: 2px solid #000000;
    }

    #menu a {
        font-size: 180%;
    }

    #menu a:hover {
        border-bottom: 2px solid #000000;
        font-size: 200%;
    }

     #cover-text {
        width: 100%;
        padding: 3px;
        position: fixed;
        font-size: 2.5rem;
        top: 60vh;
    }

    #cover-text > h2, #cover-text > h4 {
        padding-bottom: 3rem;
        letter-spacing: 5px;
    }
}

/* Media query: desktops and larger (1024px and up) */
@media screen and (min-width: 1024px){
    #cover-text {
        width: 650px;
        left: 10rem;
        padding: 3px;
        position: fixed;
        font-size: 1.6rem;
        top: 50vh;
    }
}

