/* Google fonts imports */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&display=swap");

/* Reset default styles added by browser */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* General styles */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* Generic project styles */
  font-family: "Lato", sans-serif;
}

#logo {
  font-family: "Oswald", sans-serif;
  font-weight: 200;
  text-transform: none;
  letter-spacing: 3px;
}

/* Header */
header {
  background: #ffffff;
  padding: 0 1rem;
  position: fixed;
  z-index: 99;
  width: 100%;
  box-shadow: 0 2px 2px #000000;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

header a {
  text-decoration: none;
  color: #000000;
}

#menu {
  font-size: 20px;
  letter-spacing: 4px;
  list-style-type: none;
}

#menu>li {
  margin-bottom: 1.5rem;
}

.active {
  border-bottom: 1px solid #000000;
}

/* Navbar styles with dropdown toggle */
nav {
  position: absolute;
  background-color: #ffffff;
  width: 100%;
  left: 0;
  padding: 0 1rem;
  box-shadow: 0 2px 2px #000000;
  display: none;
  top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
  display: block;
}

#nav-toggle {
  display: none;
}

.nav-toggle-label {
  font-size: 2rem;
}

/* Main content */
main {
  flex: 1 0 auto;
  /* Make main section take up any surplus space to push footer down */
  margin-top: 47px;
}

/* Hero section */
#hero {
  height: 100vh;
  width: 100%;
  position: relative;
  background: url("../images/hero-image.jpg") no-repeat center center/cover;
}

#cover-text {
  color: #ffffff;
  background: rgba(0, 0, 0, 0.4);
  top: 40vh;
  max-height: 200px;
  width: 100%;
  position: sticky;
  text-align: center;
  line-height: 30px;
  letter-spacing: 2px;
  font-size: 0.8rem;
}

#cover-text>h2,
#cover-text h4 {
  font-weight: 400;
  padding: 3px;
}

/* Footer */
#social-networks {
  text-align: center;
  padding: 15px 0;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}

#social-networks i {
  font-size: 25px;
  color: #000000;
}

/* Styles for places.html starts here*/
#landmarks {
  padding: 1rem 0.5rem 0.5rem;
  background: rgba(194, 169, 127, 0.8);
  letter-spacing: 2px;
}

#places {
  font-family: "Oswald", sans-serif;
  font-size: 32px;
  font-weight: 200;
}

#landmarks h3 {
  padding-top: 1.5rem;
  font-size: 25px;
  color: #6b4226;
  font-style: italic;
}

#landmarks h5 {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  padding-bottom: 0.5rem;
}

#landmarks a {
  text-decoration: none;
  color: red;
  font-style: italic;
}

/* Images of landmarks */
.landmarks-select {
  box-shadow: 0 0 6px rgba(0, 0, 0, 1);
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: center;
}

.landmarks-video {
  width: 100%;
  height: 250px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 1);
}

/* styles for places.html ends here */

/* Styles for signup.html start here*/
/* Signup section background */
#signup {
  background: url("../images/signup-image.jpg") no-repeat center center/cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0.5rem;
}

/* Text above the form */
#signup-header {
  text-align: center;
  color: #000000;
  padding: 5rem 0;
}

#signup h2 {
  font-size: 34px;
  font-weight: 400;
}

#signup h4 {
  font-size: 18px;
  font-weight: 300;
}

/* Signup box */
.signup-box {
  background: rgba(194, 169, 127, 0.6);
  padding: 2rem;
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(60, 40, 10, 0.7);
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

/* Labels and input */
.signup-box label {
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 1px;
}

.signup-box input[type="text"],
.signup-box input[type="email"] {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #8d540a;
  border-radius: 4px;
  background-color: #fdf6e3;
  font-size: 15px;
}

/* Signup button */
#signup-button {
  background-color: #8d540a;
  border: none;
  padding: 0.8rem;
  border-radius: 6px;
  font-weight: bold;
  font-size: 16px;
}

/* styles for signup.html ends here */

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
  /* Header */

  nav {
    display: block;
    position: relative;
    box-shadow: none;
    width: fit-content;
  }

  #menu {
    display: flex;
  }

  #menu>li {
    padding-left: 2rem;
  }

  .nav-toggle-label {
    display: none;
  }

  #logo {
    font-size: 35px;
    line-height: 50px;
  }

  /* Main content */
  main {
    margin-top: 69px;
  }

  /* Hero section */
  #cover-text {
    background: rgba(0, 0, 0, 0.7);
    top: 60vh;
    width: 60%;
    left: 30px;
    position: sticky;
    text-align: left;
    font-size: 1.2rem;
    line-height: 50px;
    padding-left: 10px;
  }

  /* Styles for pages.html starts here*/

  /* Images of landmarks */

  .landmarks-select {
    height: 400px;
  }

  .landmarks-video {
    height: 450px;
  }

  /* Styles for pages ends here */

  /* Styles for signup.html starts here */
  #signup h4 {
    font-size: 22px;
  }

  /* Styles for signup.html ends here */

  /* Media query: small laptops and larger (992px and up) */
  @media screen and (min-width: 992px) {

    #menu>li {
      padding-right: 25px;
    }

    #menu a {
      font-size: 26px;
    }

    #menu a:hover {
      font-size: 28px;
      border-bottom: 2px solid #000000;
    }

    #logo {
      font-size: 45px;
      line-height: 40px;
      padding-top: 8px;
      letter-spacing: 20px;
    }

    #cover-text {
      top: 60vh;
      width: 30%;
      left: 150px;
      font-size: 1.8rem;
      padding: 20px;
    }

    /* Styles for pages.html starts here*/

    #places {
      font-size: 50px;
    }

    #landmarks-main {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 30px;
      padding: 10px;
    }

    #landmarks h3 {
      font-size: 44px;
    }

    #landmarks h5 {
      font-size: 28px;
      line-height: 40px;
    }

    /* Images of landmarks */
    #neuschwanstein,
    #altes,
    #maria-gern,
    #bavarian-alps {
      height: 400px;
      padding-right: 0.5rem;
    }

    .landmarks-video {
    height: 730px;
  }

    /* Styles for pages ends here */

    /* Styles for signup.html starts here */
    /* Text above the form */
    #signup h2 {
      font-size: 38px;
    }

    #signup h4 {
      font-size: 22px;
    }

    /* Signup box */
    .signup-box {
      width: 700px;
      border-radius: 20px;
      box-shadow: 0 0 10px rgba(60, 40, 10, 0.7);
      gap: 2rem;
    }

    /* Labels and input */
    .signup-box label {
      font-weight: bold;
      font-size: 28px;
      letter-spacing: 2px;
    }

    .signup-box input[type="text"],
    .signup-box input[type="email"] {
      width: 100%;
      padding: 0.5rem;
      border: 1px solid #8d540a;
      border-radius: 6px;
      background-color: #fdf6e3;
      font-size: 30px;
    }

    /* Signup button */
    #signup-button {
      background-color: #8d540a;
      border: none;
      padding: 1rem;
      border-radius: 6px;
      font-weight: bold;
      font-size: 36px;
    }

    /* Styles for signup.html ends here */
  }

  /* Media query: desktops and larger (1024px and up) */
  @media screen and (min-width: 1024px) {
    #logo {
      font-size: 25px;
      line-height: 40px;
    }

    #menu a {
      font-size: 16px;
    }

    #menu a:hover {
      font-size: 20px;
    }

    #cover-text {
      top: 50vh;
      width: 25%;
      left: 100px;
      font-size: 1rem;
    }

    footer {
      display: none;
    }

    /* Styles for pages.html starts here */

    #landmarks-main {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 30px;
      padding: 10px;
    }

    #landmarks h3 {
      font-size: 32px;
    }

    #landmarks h5 {
      font-size: 20px;
      line-height: 40px;
    }

    .landmarks-video {
    height: 460px;
  }

    /* Styles for pages ends here */

    /* Styles for signup.html starts here */
    /* Text above the form */
    #signup h2 {
      font-size: 40px;
      font-weight: 400;
    }

    #signup h4 {
      font-size: 24px;
      font-weight: 300;
    }

    /* Signup box */
    .signup-box {
      width: 400px;
      border-radius: 16px;
      box-shadow: 0 0 10px rgba(60, 40, 10, 0.7);
      gap: 1rem;
    }

    /* Labels and input */
    .signup-box label {
      font-weight: bold;
      font-size: 16px;
      letter-spacing: 2px;
    }

    .signup-box input[type="text"],
    .signup-box input[type="email"] {
      width: 100%;
      padding: 0.5rem;
      border: 1px solid #8d540a;
      border-radius: 6px;
      background-color: #fdf6e3;
      font-size: 18px;
    }

    /* Signup button */
    #signup-button {
      background-color: #8d540a;
      border: none;
      padding: 0.5rem;
      border-radius: 6px;
      font-weight: bold;
      font-size: 20px;
    }

    /* Styles for signup.html ends here */
  }
}