/* Google fonts imports */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&display=swap");

/* Reset default styles added by browser */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* General styles */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* Generic project styles */
  color: #3a3a3a;
  font-family: 'Lato', sans-serif;
}

h1, h2, h4 {
    font-family: 'Oswald', sans-serif;
    text-transform: none;
    letter-spacing: 2px;
    color: #000000;
}

/* Header */
header {
  background-color: #ffffff;
  padding: 0 1rem;
  position: fixed;
  z-index: 99;
  width: 100%;
  box-shadow: 0 2px 2px #000000;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu > li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #000000;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #000000;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* Main content */
main {
  flex: 1 0 auto; /* Make main section take up any surplus space to push footer down */
  margin-top: 47px;
}

/* Hero section */
#hero {
    height: 100vh;
    width: 100%;
    background: url("../images/hero-image.jpg") no-repeat center center/cover;
}

#cover-text {
    background-color: rgba(255, 255, 255, 0.15);
    font-size: 130%;
    position: fixed;
    width: 100%;
    top: 400px;
    padding-bottom: 2px;
}

#cover-text > h2 , #cover-text >h4 {
    text-align: center;
}

#cover-text > h4 {
    display: none;
}
/* Footer */
#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 200%;
    padding: 5%;
    color: #000000;
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu > li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem;
    }
/* Main content */
    main {
        margin-top: 79px;
    }

    #cover-text {
        width: 600px;
        right: 50px;
        padding: 3px;
        font-size: 2rem;
    }

    #cover-text > h4 {
        display: block;
    }

    #cover-text > h2, #cover-text > h4 {
        padding: 0.7rem 0;
    }


}

/* Media query: small laptops and larger (992px and up) */
@media screen and (min-width: 992px){

    #menu a:hover {
        border-bottom: 1px solid #000000;
    }
}

